# PocketBase
NEXT_PUBLIC_POCKETBASE_URL=http://127.0.0.1:8090

# OAuth (optional - for future)
# GOOGLE_CLIENT_ID=
# GOOGLE_CLIENT_SECRET=
# GITHUB_CLIENT_ID=
# GITHUB_CLIENT_SECRET=
# NEXTAUTH_URL=http://localhost:3000
# NEXTAUTH_SECRET=
